@font-face {
  font-family: "BreeSerif";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/BreeSerif/BreeSerif_Reg.otf");
}

@font-face {
  font-family: "Movavi Grotesque";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/movavi-grotesque/movavi-grotesque.ttf");
}

* {margin: 0; padding: 0;}

body {
  background: url(images/bgp3.png) repeat 0 0 transparent;
  font-family: "BreeSerif", georgia, Times, serif;
}

p { margin: 10px 0;}

#container {
  margin: 0 auto;
  text-align: center;
}

.site-title {
  margin: 20px auto;
  color: #696646;
  font-family: "Movavi Grotesque";
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #AAA, 3px 3px 0 #AAA, 4px 4px 0 #AAA;
  text-transform: uppercase;
}

header h2 {
  margin: 0;
  font-size: 14px;
  color: #7A7A7A;
}

.bubble {
  margin: 10px auto;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(246, 245, 236, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 4px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.6) inset;
  color: #7e779c;
}